/* 背景颜色覆盖 */
.mui-content{
    background: #fff;
}

/* 输入框 */
.k{
    margin-top: 150px;

}
.k .a{
    width: 480px;
    height: 62px;
    margin-bottom: 32px;
    margin-left: 140px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding-left: 87px;
}
.k .a1{
    font-size: .48rem;
}
.k .a2,.a3,.a4{
    font-size: .48rem;
}


/* 按钮和字体 */
.kk .b{
    background: #00c6ff;
    width: 480px;
    height: 64px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    margin-left: 140px;
}
.kk .b{
    font-size: .6rem;
    letter-spacing: 20px;
}

/* 立即注册等字体 */
.kkk .k1{
    font-size: .36rem;
    margin-left: 270px;
    margin-top: 20px;
}
.kkk .k1 span{
    color: #5d5d5d;
}
.kkk .k2{
    margin-top: 43px;
    
}
.kkk .k2 a{
    color: #999999;
    font-size: .48rem;
    margin-left: 505px;
    border-bottom: 2px solid #b5b5b5;
}

/* 第三方登录 */
.dl p{
    font-size: .6rem;
    color: #6a6a6a;
    margin-top: 83px;
    margin-left: 136px;
}
.dl .tu{
    margin-left: 143px;
}
.dl img{
    margin-top: 60px;
    padding-right: 133px;
}