/*首页样式文件*/
html{
	font-size: 50px;
}
/*@media screen and (min-width: 1440px){
	html{
		font-size: 50px;
	}
}*/

/* 引入字体 */
@font-face{
	font-family: 'iconfont2';
  src: url('../font2/iconfont.eot');
  src: url('../font2/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font2/iconfont.woff') format('woff'),
  url('../font2/iconfont.ttf') format('truetype'),
  url('../font2/iconfont.svg#iconfont') format('svg');
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
@media screen and (min-width: 1440px){
	.my-container-fluid{
		width: 1440px;
	}
}
.row{
	margin-right: 0;
	margin-left: 0;
}
/*屏幕大于等于992px*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left: 0;
	padding-right: 0;
}
.h1, .h2, .h3, h1, h2, h3{
	margin-top: 0;
	margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p{
	line-height: 1;
}
p{
	margin: 0;
}


/*更改导航样式*/
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	margin-right: 0;
}
.my-nav{
	background-color: #222;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
}
.my-logo{
	padding: 7px 15px;
}
/*左边的导航链接默认选中的效果*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #080808;
	color: #fff;
}
/*左边的导航链接经过时的效果*/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color: #080808;
	color: #fff;
}
/*右边的语言下拉名称Lanuage的样式*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #080808;
	color: #fff;
}
/*语言下拉展开的列表样式*/
.dropdown-menu{
	background-color: #080808;
	border: 0;
}
.dropdown-menu>li>a{
	color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: 0;
}
/*这个只处理手机屏幕的样式*/
@media screen and (max-width: 767px){
	.my-nav .nav li a{
		text-indent: 10px;
	}
}
/*end*/


/* 引擎的样式 */

.yq-row{
	padding-bottom: 55px;
	background: #fbfaf7;
}

.title1{
	font-size: 0.96rem;
	color: #0078d7;
	margin: 108px 0 34px;
}
.desc1{
	font-size: 0.6rem;
	margin-bottom: 77px;
	color: #666;
}
.yq-media{
	margin-bottom: 45px;
	padding-left: 14px;
}
.yq-media-heading{
	font-size: 0.38rem;
	color: #333;
	margin-bottom: 15px;
}
.yq-media-desc{
	font-size: 0.28rem;
	width: 85%;	/*相对它父标签的宽度*/
	color: #666;
	line-height: 24px;

	overflow: hidden;
	height: 50px;
	display: -webkit-box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	line-clamp: 2;

	
}
.yq-bg1{
	margin-top: 95px;
}


/* 产品家族的样式 */
.jz-row{
	background: #0079d7;
	padding-bottom: 70px;
}
.jz-title{
	color: #eaf0f9;
	display: block;
	text-align: center;
	font-size: 0.96rem;
	margin-top: 110px;
	margin-bottom: 70px;
}
.jz-media-heading{
	color:#fffefe;
	font-size: 0.66rem;
}
.jz-desc{
	font-size: 0.28rem;
	color: #c8daf2;
	line-height: 25px;
	width: 85%;	/*相对它父标签的宽度*/

	overflow: hidden;
	height:75px;
	display: -webkit-box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

	-webkit-line-clamp: 3;
	-moz-line-clamp:3;
	line-clamp: 3;
}
.jz-row-list{
	padding-left: 60px;
}

.jz-media-body{
	padding-left: 30px;
}
.jz-pic{
padding-top: 5px;
}
.jz-pic-r{
	padding-left: 15px;
}
/* 优势 */
.yx-row{
	padding-top: 115px;

}
.yx-title{
	font-size: 0.96rem;
	color: #8fc31f;
	margin-bottom: 35px;
}
.yx-desc{
	font-size: 0.36rem;
	color: #666666;
	line-height: 54px;
}
.yx-media{
	margin-bottom: 10px;
}
.yx-pic{
	padding-top: 34px;
}
.yx-row-text{
	margin-left: 30px;
}


/* 游戏伙伴 */
.hb-title{
	font-size: 0.7rem;
	color: #2a2a2a;
	margin-top: 89px;
	margin-bottom: 49px;
}
.hb-title a{
	font-size: 0.28rem;
	color: #2a2a2a;
}
.g-p{
	margin-left: 50px;
}
.g-p p{
	margin-top: 8px;
	margin-bottom: 35px;
}


.hz-title{
	font-size: .6rem;
	margin-top: 100px;
	margin-bottom: 33px;	
}
.hz-title small
{
	font-size:0.24rem;
	color: #939393;
}

.partner-pic{
	padding: 0 5px;
	margin-bottom: 20px;
}


.foots{
	background: #3b3b3b;
	margin-top: 40px;
	padding-top: 35px;
	padding-bottom: 35px;
}
.foots i {
	position: relative;
	margin-left: 20px;
	float: left;
	text-align: center;
	display: block;
	font-style: normal;
	background: #d8d8e0;
	color: #4c4c52;
	font-size: 22px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 20px;
	font-family: "iconfont2";
}

.foots  span{
	display: none;
	position: absolute;
	left: -48px;
	top: -150px;
}
.foots i:hover span{
	display: block;
}
.foots p{
	font-size: 14px;
	color: #9798a0;
}
.foots p a{
	font-size: 14px;
	color: #9798a0;
	margin-right: 15px;
}
.foots p:nth-child(3){
	font-size: 11px;
	margin-top: 14px;
}

@media screen and (max-width:1920px){
	
}
@media screen and (max-width:1440px){
	
}
@media screen and (max-width:1280px){

}
@media screen and (max-width:1200px){
	.hz-title{
		margin-top: 70px;
	}
}
@media screen and (max-width:1024px){
	.nav > li > a{
		padding-left: 10px;
		padding-right: 10px;
	}
	html{
		font-size: 40px;
	}
	.yq-media-desc{
		line-height: 20px;
		height: 45px;
	}
	.yq-media-heading{
		margin-bottom: 10px;
	}
	.desc1{
		margin-bottom: 50px;
	}
	.jz-desc{
		line-height: 20px;
		height: 64px;
	}
	.jz-title{
		margin-top: 70px;
		margin-bottom: 50px;
	}
	.g-p{
		margin-left: 17px;
	}
	.center-block{
		padding-right: 5px;
		padding-left: 5px;
	}
	.g-p p{
		margin-bottom: 22px;
	}
	.hz-title{
		margin-top: 50px;
	}

}
@media screen and (max-width:992px){
	.yq-bg1{
		display: none;
	}
	.yx-pic{
		display: none;
	}
	#v{
		margin: 0 auto;
	}
	.hb-title{
		margin-bottom: 0;
		text-align: center;
	}
	.yq-col{
		padding-left: 27px;
	}
}
@media screen and (max-width:751px){
	.title1{
		text-align: center;
		margin: 25px 0 20px 0;
	}
	.desc1{
		text-align: center;
		margin-bottom: 30px;
	}
	.yx-row{
		padding-top: 50px;
	}
	.jz-title {
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.hb-title{
		margin-top: 35px;

	}
	.hb-title a{
		padding-right: 47px;
		padding-top: 12px;
	}
	.hb-title{
		padding-left: 47px;
	}
	.foots p{
		margin-left: 25px;
	}
	.pull-right{
		margin-right: 55px;
	}
	.yx-title{
		text-align: center;
		margin-bottom: 25px;
	}
	.yx-row{
		padding-top: 30px;
	}
	#v{
		margin: 15px auto;
	}
	.yq-row{
		padding-bottom: 20px;
	}


}